<h1>{{title}}</h1>
<nav>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href='/users/signup'>Sign up</a></li>
        <li><a href='/users/login'>Log in</a></li>
        <li><a href='/users/logout'>Log out</a></li>

    </ul>
</nav>
<p>Welcome to {{title}}, a place to connect with others!</p>